{% extends 'boardApp/base.html' %}
{% load static %}

{% block title %}Добро пожаловать!{% endblock title %}


{% block main_content %}

    	<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
				<div class="container">
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" class="btn btn-primary" value="Добавить объявление">
					</form>
				</div>
			</div>

		</div>
	</section>
	<!-- Hero section end-->



{% endblock main_content %}