{% extends 'boardApp/base.html' %}
{% load static %}

{% block title %}Отзыв к объявлению{% endblock title %}


{% block main_content %}

    	<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
				<div style="color: white;">
					<p>Отзыв к объявлению:</p>
					<p>{{ ad }}</p>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_div }}
						<input type="submit" class="btn btn-primary" value="Разместить отзыв">
					</form>
				</div>
			</div>

		</div>
	</section>
	<!-- Hero section end-->



{% endblock main_content %}