{% extends 'boardApp/base.html' %}
{% load static %}

{% block title %}Добро пожаловать!{% endblock title %}


{% block main_content %}

    	<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
				<div class="container">
					<h2>MMORPG</h2>
					<p>Фанатский сервер MMORPG</p>
					<a href="#ads" class="site-btn">Узнать больше  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
				</div>
			</div>

		</div>
	</section>
	<!-- Hero section end-->




	<!-- Blog section -->
     <!-- Список объявлений -->
	<section class="blog-section spad">
		<div class="container">
			<div>
				<div style="text-align: center">
					<div class="section-title text-white">
						<h2>Последние объявления <a name="ads"></a></h2>
					</div>
					{% for ad in ads %}
						<!-- Blog item -->
						<div class="blog-item">
							<div class="blog-thumb" style="margin-left:auto;margin-right:auto;">

							</div>
							<div class="blog-text text-box text-white"  style="border: solid;border-style: dashed solid;;border-color: white;">
																{% if ad.picture %}
									<img src="{{ ad.picture.url }}" alt="">
								{% else %}
									<img src="{% static './img/blog/1.jpg' %}" alt="">
								{% endif %}
								<h2>{{ ad.title|truncatechars:100 }}</h2>
								<h4>{{ ad.text|truncatechars:100 }}</h4>
								<h4>Тип: {{ ad.category }}</h4>
								<h4>Автор: {{ ad.user }}</h4>
								<p></p>
								<a href="{% url 'ad-detail' ad.pk %}" class="read-more">Прочитать  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
							</div>
						</div>
					{% endfor %}
					<br>
					<div class="blog-text text-box text-white">
						{% if is_paginated %}
								<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
								{% if page_obj.has_previous %}
									<a href="?page=1">Первая страница</a>
									<a href="?page={{ page_obj.previous_page_number }}"><<<</a>
								{% endif %}

								<!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
								{% for num in page_obj.paginator.page_range %}
									{% if page_obj.number == num %}
										<a>{{ num }}</a>
									{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
										<a href="?page={{ num }}">{{ num }}</a>
									{% endif %}
								{% endfor %}

								<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
								{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}">>>></a>
									<a href="?page={{ page_obj.paginator.num_pages }}">Последняя страница</a>
								{% endif %}
						{% endif %}
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- Blog section end -->

{% endblock main_content %}